            
     <h2>All Cars</h2>
          <p><input type='text' ng-model='search_value' > Enter Search text</p>
          <table class="table table-bordered table-striped">
              <tr>
                  <th>Student Id</th>
                  <th>Last Name</th>
                  <th>First Name</th>
                  <th>Major</th>
                  <th>Midterm</th>
                  <th>Final</th>
              </tr>
              <tr ng-repeat = "car in cars | filter : search_value ">
                  <td>{{car.sid}}</td>
                  <td>{{car.last_name}}</td>
                  <td>{{car.first_name}}</td>
                  <td>{{car.major}}</td>
                  <td>{{car.midterm}}</td>
                  <td>{{car.final}}</td>
              </tr>
         </table>
           
